/* ==========================================================================
  Project: Boyceterous Android App
  Author: Samora Reid
  Author URL: www.samorareid.com
  Version: 0.1
  URL: www.boyceterouscruises.com
========================================================================== */

/* ----------------------------------------------------------------- 
	Holo Theme Changes
------------------------------------------------------------------- */

.page {
	background-color: #F0F0F0;
}

.action-bar {
	border-bottom: none;
	background-color: #0171b0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.action-bar .app-icon img {
	float: right;
	padding: 0 4px;
}

a, a:hover, a:focus {
	text-decoration: none;
	color: inherit;
}

.tab-fixed {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #5a5a5a;
}

.tab-fixed ul.tab-inner li a:after {
	background-color: #8B8B8B;
}

legend.form-legend, label.block-label {
	color: #525252;
}
.input-text {
	color: #333;
	font-weight: 700;
}

#tourslist {
	height: auto;
	padding-top: 20px;
}

.slide {
	text-align: center;
	padding-bottom: 20px;
}

.slide img {
	margin: 0 auto;
}

.slide .slide-content {
	height: 200px;
	overflow: hidden;
}
.slide .slide-content2 {
	height: 160px;
	overflow: hidden;
}

.slide .title {
	background: #0171b0;
	color: #fff;
	padding: 10px 0;
	font-weight: 500;
	border-bottom: 1px solid #eee;
}
.slide .description {
	background: #fff;
	padding: 16px;
}

.description p, .description h4 {
	text-align: left;
}

.form-flex {
	margin-top: 30px;
}

.msgbox {
	margin-top: 60px;
	text-align: center;
}

.msgbox img, .specialsbox img {
	margin: 0 auto;
	padding: 1em;
}

.specialsbox {
	margin-top: 120px;
	text-align: center;
}

.input-text.ng-invalid.ng-dirty {
	border-bottom: 2px solid #FA787E;
}

.input-text.ng-valid {
	border-bottom: 2px solid #0171b0;
}



