<header class="action-bar fixed-top">
        <a href="#tours" class="app-icon action" data-ignore="true">
            <img src="img/mini-logo.png" alt="">
        </a>
        <h1 class="title">Boyceterous</h1>
    </header>
    <nav class="tab-fixed">
        <ul class="tab-inner">
            <li><a href="#tours" data-ignore="true">Tours</a></li>
            <li><a href="#specials" data-ignore="true">Specials</a></li>
        </ul>
    </nav>
    <div class="container specialsbox">
        <div class="row">
            <div class="col-md-12">
                <h2>Specials Coming Soon <i class="fa fa-smile-o"></i></h2>
                <img src="img/boyceterouslogo.png" class="img-responsive" alt="Boyceterous Cruises">
            </div>
        </div>        
    </div>