<div class="page">
	<header class="action-bar fixed-top">
		<a href="#/tours/{{tours.tourid}}" class="app-icon action" data-ignore="true">
				<i class="icon-up-button"></i>
			<img src="img/mini-logo.png" alt="">
		</a>
		<h1 class="title">Boyceterous</h1>
	</header>
	<div ng-show="haserror" class="container msgbox">
		<div class="row">
			<div class="col-xs-12">
				<div class="alert alert-danger">
					<h3>Sorry, something went wrong <i class="fa fa-frown-o"></i></h3>
					<p>Please try again later.</p>
				</div>
			</div>
		</div>		
	</div>
	<div ng-show="msgsent" class="container msgbox">
		<div class="row">
			<div class="col-xs-12">
				<h2>Thank You for requesting a cruise with us!</h2>
				<p>We will contact you soon! <i class="fa fa-smile-o"></i></p>
				<img src="img/boyceterouslogo.png" class="img-responsive" alt="Boyceterous Cruises">
			</div>
		</div>		
	</div>
	<div ng-hide="msgsent">
		<form class="form-flex inset" name="cruisebook" role="form">
			<label for="" class="block-label">Fill Out Cruise Request</label>		
			<!--<label for="passName" class="block-label">Name</label>-->
			<div class="flex-group">
				<input type="text" class="input-text flex1" ng-model="pass.passName" name="passName" id="passName" placeholder="Name" required />
			</div>
			<!--<label for="passPhone" class="block-label">Contact</label>-->
			<div class="flex-group">
				<input type="email" class="input-text flex2" ng-model="pass.passEmail" name="passEmail" id="passEmail" placeholder="Email" required />
				<input type="tel" class="input-text flex2" ng-pattern="/^(\d+-?)+\d+$/" ng-model="pass.passPhone" name="passPhone" id="passPhone" placeholder="Phone" required />
			</div>
			<!--<label for="passDate" class="block-label">Date</label>-->
			<div class="flex-group">
				<input type="text" class="input-text flex3" ng-model="pass.passDate" name="passDate" id="passDate" placeholder="Date" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
	    	</div>
	    	<div class="form-actions">
	    		<button ng-disabled="cruisebook.$invalid" ng-click="onSubmitCruise()" type="button" class="btn btn-primary btn-lg btn-block">{{sendbtntext}}</button>
	    	</div>
		</form>
	</div>
	
<div>

