<div id="tourslist">
	<div>
			<div class="slide">
				<div class="title">
					<h3>{{tours.title}}</h3>
				</div>
				<div class="slide-content2">
					<img src="{{tours.img}}" class="img-responsive" alt="">
				</div>
				<div class="description">
					<p>{{tours.description}}</p>
					<div class="row">
						<div class="col-xs-6">
							<h4>Adults: ${{tours.adultprice}} US</h4>
						</div>
						<div class="col-xs-6">
							<h4>Children: ${{tours.childprice}} US</h4>
						</div>
					</div>
				</div>			
			</div>
	</div>
</div>
