<div id="tourslist">
	<div ng-repeat="tours in tours">
		<a href="#/tours/{{tours.tourid}}">
			<div class="slide">
				<div class="title">
					<h3>{{tours.title}}</h3>
				</div>
				<div class="slide-content">
					<img src="{{tours.img}}" class="img-responsive" alt="">
				</div>			
			</div>
		</a>
	</div>
</div>