<div class="page">
    <header class="action-bar fixed-top">
        <a href="#tours" class="app-icon action" data-ignore="true">
        		<i class="icon-up-button"></i>
            <img src="img/mini-logo.png" alt="">
        </a>
        <h1 class="title">Boyceterous</h1>
    </header>
    <nav class="tab-fixed">
        <ul class="tab-inner">
            <li><a href="#tours" data-ignore="true">Tours</a></li>
            <li><a href="#specials" data-ignore="true">Specials</a></li>
        </ul>
    </nav>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
               <toursdetail></toursdetail>
               <a href="#/tours/order/{{tours.tourid}}" style="margin-bottom: 20px" class="btn btn-primary btn-lg btn-block">Request Cruise</a>
            </div>
        </div>               
    </div>
</div>
