<header class="action-bar fixed-top">
        <a href="javascript: void(0);" class="app-icon action" data-ignore="true">
            <img src="img/mini-logo.png" alt="">
        </a>
        <h1 class="title">Boyceterous</h1>
    </header>
    <nav class="tab-fixed">
        <ul class="tab-inner">
            <li><a href="#tours" data-ignore="true">Tours</a></li>
            <li><a href="#specials" data-ignore="true">Specials</a></li>
        </ul>
    </nav>
    <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <tourslist></tourslist>
            </div>
        </div>        
    </div>