/* fries.min.css (v2.0.3) 22-11-2013 */

.action-bar {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 2px solid #151515;
    background-color: #222;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
}
.action-bar .title, .action-bar .subtitle, .action-bar .app-icon {
    float: left;
    display: inline-block;
}
.action-bar .title {
    margin-left: 1px;
    font-weight: 400;
    color: #fff;
}
.action-bar h1.title {
    font-size: 16px;
    line-height: 48px;
}
.action-bar h2.title {
    font-size: 14px;
    line-height: 18px;
    padding: 8px 0 4px;
}
.action-bar .subtitle {
    color: #ccc;
    font-size: 12px;
    font-weight: 200;
}
.action-bar .app-icon {
    position: relative;
    padding: 8px 0;
    margin-left: 10px;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}
.action-bar .app-icon img {
    float: right;
}
.action-bar .app-icon.up {
    margin-left: 0;
}
.action-bar.fixed-top {
    top: 0;
}
.action-bar.fixed-bottom {
    bottom: 0;
}
ul.actions, ul.actions li {
    display: inline-block;
}
ul.actions {
    list-style: none;
}
ul.actions li .action {
    width: 48px;
    height: 48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul.actions.flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}
ul.actions.flex>li {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
}
ul.actions.flex>li.action-overflow {
    display: initial;
    width: 48px;
}
.action {
    display: inline-block;
    padding: 8px;
}
.action [class*=icon-], .action .action-title {
    float: left;
    display: inline-block;
}
.action [class*=icon-] {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    color: #999;
    text-align: center;
}
.action .icon-up-button {
    width: 10px;
    font-size: 48px;
}
.action .action-title {
    margin: 0 25px 0 5px;
    height: 32px;
    color: #999;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 32px;
}
.action:active {
    background-color: rgba(51, 181, 229, .6);
    z-index: 1;
}
.action.page-action {
    position: relative;
}
.action.page-action:after {
    position: absolute;
    content: '';
    right: -1px;
    top: 12px;
    width: 1px;
    height: 24px;
    background-color: #3c3c3c;
}
.action-overflow {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.action-overflow-hidden {
    display: none!important;
}
.action-overflow-icon {
    cursor: pointer;
    padding: 21px 22px 20px 21px;
}
.action-overflow-icon i, .action-overflow-icon i:before, .action-overflow-icon i:after {
    display: block;
    width: 5px;
    height: 5px;
    background: #999;
}
.action-overflow-icon i {
    position: relative;
    z-index: 0;
}
.action-overflow-icon i:before, .action-overflow-icon i:after {
    position: absolute;
    content: '';
    left: 0;
}
.action-overflow-icon i:before {
    top: -8px;
}
.action-overflow-icon i:after {
    top: 8px;
}
@-webkit-keyframes push {
    from {
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
}@-moz-keyframes push {
    from {
    opacity: 0;
    -moz-transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
}
}@keyframes push {
    from {
    opacity: 0;
    transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
}@-webkit-keyframes pop {
    from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
}
}@-moz-keyframes pop {
    from {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    -moz-transform: scale3d(0.7, .7, 1);
}
}@keyframes pop {
    from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    transform: scale3d(0.7, .7, 1);
}
}html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, audio, video {
    padding: 0;
    margin: 0;
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: #111;
    padding-bottom: 1px;
}
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.67em;
    color: #fff;
    background-color: #111;
}
a {
    color: #33b5e5;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.selectable:active {
    background-color: rgba(51, 181, 229, .6);
}
.pull-right {
    float: right!important;
}
/*
a[class*=btn] {
    padding: 9px 36px 8px;
}
[class*=btn] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 11px 36px;
    background: #424242;
    border: 0;
    color: #fff;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 14px;
    vertical-align: middle;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 3px rgba(0, 0, 0, .5);
}
[class*=btn]:hover, [class*=btn].hover, [class*=btn]:focus, [class*=btn].focused {
    outline: 0;
    background: #1f5366;
    -webkit-box-shadow: inset 0 0 1px 2pt #037ea7, 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0 1px 2pt #037ea7, 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 1px 2pt #037ea7, 0 2px 3px rgba(0, 0, 0, .5);
}
[class*=btn]:active, [class*=btn].active {
    padding: 11px 36px 10px;
    background: rgba(0, 153, 204, .8);
    border: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 3px rgba(0, 0, 0, .5), 0 0 2px 2pt rgba(51, 181, 229, .6);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 3px rgba(0, 0, 0, .5), 0 0 2px 2pt rgba(51, 181, 229, .6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 2px 3px rgba(0, 0, 0, .5), 0 0 2px 2pt rgba(51, 181, 229, .6);
}
[class*=btn]:disabled, [class*=btn].disabled {
    opacity: .3;
}
.btn[disabled], .btn-small[disabled] {
    opacity: .3;
}
[class*=btn]+[class*=btn] {
    margin-left: 3px;
}
.btn-small {
    font-size: 12px;
}
.btn-block {
    width: 100%}
.btn-block+.btn-block {
    margin-left: 0;
}*/
.page {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #111;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0, 0, 0);
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-wrap: normal;
}
.action-bar+.tab-fixed+.content, .action-bar+.tab-fixed+.action-bar+.content {
    top: 96px;
}
.action-bar~.content, .tab-fixed~.content {
    top: 48px;
}
.action-bar.fixed-bottom~.content {
    bottom: 48px;
}
.inset {
    padding: 15px;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    width: 100%}
.flex>* {
    -webkit-box-flex: 1;
    box-flex: 1;
}
@-webkit-keyframes push {
    from {
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
}@-moz-keyframes push {
    from {
    opacity: 0;
    -moz-transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
}
}@keyframes push {
    from {
    opacity: 0;
    transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
}@-webkit-keyframes pop {
    from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
}
}@-moz-keyframes pop {
    from {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    -moz-transform: scale3d(0.7, .7, 1);
}
}@keyframes pop {
    from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    transform: scale3d(0.7, .7, 1);
}
}.dialogs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    -webkit-transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0, 0, 0);
}
.dialogs.fade-in {
    opacity: 1;
}
.dialogs.on {
    visibility: visible;
}
.dialog {
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    background-color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0 10px rgba(0, 0, 0, .6);
    width: 85%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
    -moz-transform: scale3d(0.7, .7, 1);
    transform: scale3d(0.7, .7, 1);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0, 0, 0);
}
.dialog .dialog-title-region {
    height: 56px;
    border-bottom: solid 2px #33b5e5;
    padding: 0 15px;
}
.dialog .dialog-title-region .title {
    font-size: 18px;
    font-weight: 400;
    color: #33b5e5;
    line-height: 56px;
}
.dialog .dialog-content {
    color: #fff;
}
.dialog .dialog-content ul.list li {
    padding: 5px 15px;
}
.dialog ul.dialog-actions {
    list-style: none;
    border-top: 1px solid #424242;
    height: 48px;
}
.dialog ul.dialog-actions li {
    float: left;
    display: inline-block;
    width: 50%;
    border-right: 1px solid #424242;
}
.dialog ul.dialog-actions li a {
    display: block;
    color: #fff;
    font-size: 12px;
    height: 47px;
    text-align: center;
    line-height: 48px;
}
.dialog ul.dialog-actions li a:active {
    background-color: rgba(51, 181, 229, .6);
}
.dialog ul.dialog-actions li:first-child a {
    border-bottom-left-radius: 2px;
}
.dialog ul.dialog-actions li:last-child {
    border: 0;
}
.dialog ul.dialog-actions li:last-child a {
    border-bottom-right-radius: 2px;
}
.dialog.push {
    -webkit-animation: push .2s;
    -moz-animation: push .2;
    animation: push .2s;
}
.dialog.pop {
    -webkit-animation: pop .2s;
    -moz-animation: pop .2s;
    animation: pop .2s;
}
.dialog.on {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
form {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
form.form-flex .flex-group {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    margin: 0;
}
form.form-flex .flex-group .flex1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
form.form-flex .flex-group .flex2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}
form.form-flex .flex-group .flex3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
}
form.form-flex .flex-group>:nth-child(n) {
    margin-left: 10px;
}
form.form-flex .flex-group>:first-child {
    margin-left: 0;
}
[class*=flex].input-text+[class*=flex].input-text {
    margin-left: 10px;
}
.input-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    outline: 0;
    border: 0;
    border-bottom: 1px solid #333;
    padding: 10px 10px 0;
    margin: 0 0 8px;
    width: 100%;
    height: 48px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    vertical-align: middle;
    -webkit-transition: border ease-out .2s;
    -moz-transition: border ease-out .2s;
    transition: border ease-out .2s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.input-text:focus {
    border-bottom: 1px solid #09c;
}
.input-text[type=password] {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
legend.form-legend, label.block-label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    padding: 5px 5px 3px;
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid #595959;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    color: #ccc;
}
label.inline-label {
    display: block;
}
.form-actions {
    margin-top: 20px;
}
.input-pretty {
    position: relative;
    display: block;
    margin-bottom: 8px;
}
.input-pretty:before, .input-pretty:after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 5px;
    width: 1px;
    background: #333;
    -webkit-transition: background ease-out .2s;
    -moz-transition: background ease-out .2s;
    transition: background ease-out .2s;
}
.input-pretty:before {
    left: 0;
}
.input-pretty:after {
    right: 0;
}
.input-pretty.focus:before, .input-pretty.focus:after {
    background: #09c;
}
.input-switch-wrapper {
    position: relative;
    display: inline-block;
    width: 96px;
    padding: 12px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.input-switch-wrapper .input-switch {
    display: none;
}
.input-switch-wrapper .input-switch:checked+.input-switch-outer .input-switch-button {
    background-color: rgba(0, 153, 204, .8);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.input-switch-wrapper .input-switch:checked+.input-switch-outer .input-switch-button:before {
    content: 'On'}
.input-switch-wrapper .input-switch-outer {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #999;
    border-radius: 0;
}
.input-switch-wrapper .input-switch-outer .input-switch-inner {
    background: #333;
}
.input-switch-wrapper .input-switch-outer .input-switch-inner .input-switch-button {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    width: 48px;
    height: 24px;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    background-color: #424242;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .25), inset 0 2px 0 rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), inset 0 -1px 0 rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .5);
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.input-switch-wrapper .input-switch-outer .input-switch-inner .input-switch-button:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: 'Off';
    width: 100%;
    height: 100%}
.input-radio-wrapper {
    display: inline-block;
    width: 32px;
    height: 32px;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.input-radio-wrapper .input-radio {
    position: absolute;
    left: -9999px;
}
.input-radio-wrapper .input-radio:checked[disabled]+.input-radio-inner .input-radio-button {
    background: rgba(51, 51, 51, .8);
    -webkit-box-shadow: 0 0 4px rgba(51, 51, 51, .8), inset 0 1px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 4px rgba(51, 51, 51, .8), inset 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: 0 0 4px rgba(51, 51, 51, .8), inset 0 1px 0 rgba(255, 255, 255, .5);
}
.input-radio-wrapper .input-radio:checked+.input-radio-inner .input-radio-button {
    background: #33b5e5;
    -webkit-box-shadow: 0 0 4px rgba(51, 181, 229, .8), inset 0 1px 0 rgba(255, 255, 255, .5);
    -moz-box-shadow: 0 0 4px rgba(51, 181, 229, .8), inset 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: 0 0 4px rgba(51, 181, 229, .8), inset 0 1px 0 rgba(255, 255, 255, .5);
}
.input-radio-wrapper .input-radio:active+.input-radio-inner {
    background: rgba(51, 181, 229, .5);
    border-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    -moz-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
}
.input-radio-wrapper .input-radio[disabled]+.input-radio-inner {
    border-color: rgba(51, 51, 51, .8);
}
.input-radio-wrapper .input-radio:focus[disabled]+.input-radio-inner:before {
    border-color: rgba(0, 153, 204, .6);
}
.input-radio-wrapper .input-radio:focus+.input-radio-inner:before {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    position: absolute;
    display: block;
    content: '';
    top: -4px;
    left: -4px;
    width: 20px;
    height: 20px;
    border: 1px solid #09c;
}
.input-radio-wrapper .input-radio-inner {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #424242;
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.input-radio-wrapper .input-radio-inner:active {
    background: rgba(51, 181, 229, .5);
    border-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    -moz-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
}
.input-radio-wrapper .input-radio-inner:focus {
    outline: 0;
}
.input-radio-wrapper .input-radio-inner .input-radio-button {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    width: 8px
;    height: 8px;
    margin: 3px;
    background: transparent;
}
.input-checkbox-wrapper {
    display: block;
    width: 32px;
    height: 32px;
    padding: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.input-checkbox-wrapper .input-checkbox {
    position: absolute;
    left: -9999px;
}
.input-checkbox-wrapper .input-checkbox:checked[disabled]+.input-checkbox-outer .input-checkbox-button {
    background: transparent;
}
.input-checkbox-wrapper .input-checkbox:checked[disabled]+.input-checkbox-outer .input-checkbox-button:before {
    border-color: rgba(51, 51, 51, .8);
}
.input-checkbox-wrapper .input-checkbox:checked[disabled]+.input-checkbox-outer .input-checkbox-button:after {
    border-color: transparent;
}
.input-checkbox-wrapper .input-checkbox:checked:active:not([disabled])+.input-checkbox-outer .input-checkbox-button {
    border-color: transparent;
}
.input-checkbox-wrapper .input-checkbox:checked:active:not([disabled])+.input-checkbox-outer .input-checkbox-button:before {
    border-color: #fff;
}
.input-checkbox-wrapper .input-checkbox:checked:active:not([disabled])+.input-checkbox-outer .input-checkbox-button:after {
    border-color: rgba(255, 255, 255, .5);
}
.input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-outer .input-checkbox-button {
    position: absolute;
    top: -9px;
    width: 10px;
    right: -4px;
    height: 18px;
    border: solid #222;
    border-width: 0 6px 6px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-outer .input-checkbox-button:before, .input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-outer .input-checkbox-button:after {
    position: absolute;
    content: '';
    width: 5px;
}
.input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-outer .input-checkbox-button:before {
    top: 2px;
    right: -5px;
    height: 12px;
    border: solid #33b5e5;
    border-width: 0 3px 3px 0;
    height: 12px;
}
.input-checkbox-wrapper .input-checkbox:checked+.input-checkbox-outer .input-checkbox-button:after {
    top: 1px;
    right: -4px;
    height: 15px;
    border: solid rgba(51, 181, 229, .5);
    border-width: 0 2px 2px 0;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
}
.input-checkbox-wrapper .input-checkbox:active+.input-checkbox-outer {
    background: rgba(51, 181, 229, .5);
    border-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    -moz-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
}
.input-checkbox-wrapper .input-checkbox[disabled]+.input-checkbox-outer {
    border-color: rgba(51, 51, 51, .8);
}
.input-checkbox-wrapper .input-checkbox:focus[disabled]+.input-checkbox-outer:before {
    border-color: rgba(0, 153, 204, .6);
}
.input-checkbox-wrapper .input-checkbox:focus+.input-checkbox-outer:before {
    position: absolute;
    display: block;
    content: '';
    top: -4px;
    left: -4px;
    width: 20px;
    height: 20px;
    border: 1px solid #09c;
}
.input-checkbox-wrapper .input-checkbox-outer {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #424242;
    cursor: pointer;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
}
.input-checkbox-wrapper .input-checkbox-outer:active {
    background: rgba(51, 181, 229, .5);
    border-color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    -moz-box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
    box-shadow: 0 0 2px 7px rgba(51, 181, 229, .5);
}
.input-checkbox-wrapper .input-checkbox-outer:focus {
    outline: 0;
}
.input-checkbox-wrapper .input-checkbox-outer .input-checkbox-button {
    width: 8px;
    height: 8px;
    margin: 3px;
    background: transparent;
}
@font-face {
    font-family: icomoon;
    src: url(../../fonts/icomoon.eot);
    src: url(../../fonts/icomoon.eot?#iefix) format("embedded-opentype"), url(../../fonts/icomoon.woff) format("woff"), url(../../fonts/icomoon.ttf) format("truetype"), url(../../fonts/icomoon.svg#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}
[data-icon]:before {
    font-family: icomoon;
    content: attr(data-icon);
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-back, .icon-accept, .icon-cancel, .icon-chevron-up, .icon-chevron-down, .icon-forward, .icon-chevron-right, .icon-chevron-left, .icon-refresh, .icon-information, .icon-help, .icon-search, .icon-settings, .icon-vote-down, .icon-heart, .icon-star-half, .icon-vote-up, .icon-star-full, .icon-star-empty, .icon-cloud, .icon-folder, .icon-calendar, .icon-tags, .icon-add-tag, .icon-sort-by-size, .icon-grid, .icon-view-as-list, .icon-attachment, .icon-new-image, .icon-new-event, .icon-new-attachment, .icon-new-message, .icon-new, .icon-merge, .icon-import-export, .icon-calendar-event, .icon-mail, .icon-edit, .icon-trash, .icon-cut, .icon-copy, .icon-backspace, .icon-clipboard, .icon-image, .icon-read, .icon-remove, .icon-save, .icon-select-all, .icon-split, .icon-undo, .icon-unread, .icon-add-group, .icon-add-person, .icon-cc-bcc, .icon-chat, .icon-forward-2, .icon-slideshow, .icon-rotate-right, .icon-rotate-left, .icon-globe, .icon-crop, .icon-location-marker, .icon-map, .icon-direction, .icon-share, .icon-send, .icon-reply-all, .icon-reply, .icon-person, .icon-group, .icon-add-to-queue, .icon-download, .icon-fast-forward, .icon-full-screen, .icon-pin, .icon-next, .icon-pause, .icon-pause-2, .icon-play, .icon-play-2, .icon-previous, .icon-repeat, .icon-replay, .icon-return-from-full-screen, .icon-brightness-high, .icon-brightness-auto, .icon-bluetooth-searching, .icon-bluetooth-connected, .icon-bluetooth, .icon-brightness, .icon-battery, .icon-add-alarm, .icon-alarm, .icon-key, .icon-upload, .icon-stop, .icon-shuffle, .icon-rewind, .icon-brightness-medium, .icon-call, .icon-camera, .icon-dashboard, .icon-dial, .icon-hang-up, .icon-power-auto, .icon-power-none, .icon-power, .icon-location-target, .icon-location-off, .icon-location-searching, .icon-microphone, .icon-microphone-off, .icon-clock, .icon-camera-video-rotate, .icon-camera-rotate, .icon-storage, .icon-locked, .icon-storage-sd, .icon-screen-lock-portrait, .icon-screen-rotate, .icon-screen-lock-landscape, .icon-call-volume, .icon-unlocked, .icon-new-account, .icon-signal, .icon-signal-2, .icon-usb, .icon-mouse, .icon-smartphone, .icon-fries, .icon-video, .icon-volume-off, .icon-volume-adjust, .icon-airplane, .icon-airplane-2, .icon-alert, .icon-alert-2, .icon-laptop, .icon-desktop, .icon-joystick, .icon-headphones, .icon-headphones-mic, .icon-keyboard, .icon-up-button {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-back:before {
    content: "\e001"}
.icon-accept:before {
    content: "\e002"}
.icon-cancel:before {
    content: "\e003"}
.icon-chevron-up:before {
    content: "\e004"}
.icon-chevron-down:before {
    content: "\e005"}
.icon-forward:before {
    content: "\e006"}
.icon-chevron-right:before {
    content: "\e007"}
.icon-chevron-left:before {
    content: "\e008"}
.icon-refresh:before {
    content: "\e009"}
.icon-information:before {
    content: "\e010"}
.icon-help:before {
    content: "\e011"}
.icon-search:before {
    content: "\e012"}
.icon-settings:before {
    content: "\e013"}
.icon-vote-down:before {
    content: "\e020"}
.icon-heart:before {
    content: "\e021"}
.icon-star-half:before {
    content: "\e023"}
.icon-vote-up:before {
    content: "\e022"}
.icon-star-full:before {
    content: "\e024"}
.icon-star-empty:before {
    content: "\e025"}
.icon-cloud:before {
    content: "\e030"}
.icon-folder:before {
    content: "\e031"}
.icon-calendar:before {
    content: "\e032"}
.icon-tags:before {
    content: "\e033"}
.icon-add-tag:before {
    content: "\e034"}
.icon-sort-by-size:before {
    content: "\e035"}
.icon-grid:before {
    content: "\e036"}
.icon-view-as-list:before {
    content: "\e037"}
.icon-attachment:before {
    content: "\e040"}
.icon-new-image:before {
    content: "\e04e"}
.icon-new-event:before {
    content: "\e04d"}
.icon-new-attachment:before {
    content: "\e04b"}
.icon-new-message:before {
    content: "\e04c"}
.icon-new:before {
    content: "\e04a"}
.icon-merge:before {
    content: "\e049"}
.icon-import-export:before {
    content: "\e048"}
.icon-calendar-event:before {
    content: "\e047"}
.icon-mail:before {
    content: "\e046"}
.icon-edit:before {
    content: "\e045"}
.icon-trash:before {
    content: "\e044"}
.icon-cut:before {
    content: "\e043"}
.icon-copy:before {
    content: "\e042"}
.icon-backspace:before {
    content: "\e041"}
.icon-clipboard:before {
    content: "\e04f"}
.icon-image:before {
    content: "\e050"}
.icon-read:before {
    content: "\e051"}
.icon-remove:before {
    content: "\e052"}
.icon-save:before {
    content: "\e053"}
.icon-select-all:before {
    content: "\e054"}
.icon-split:before {
    content: "\e055"}
.icon-undo:before {
    content: "\e056"}
.icon-unread:before {
    content: "\e057"}
.icon-add-group:before {
    content: "\e060"}
.icon-add-person:before {
    content: "\e061"}
.icon-cc-bcc:before {
    content: "\e062"}
.icon-chat:before {
    content: "\e063"}
.icon-forward-2:before {
    content: "\e064"}
.icon-slideshow:before {
    content: "\e083"}
.icon-rotate-right:before {
    content: "\e082"}
.icon-rotate-left:before {
    content: "\e081"}
.icon-globe:before {
    content: "\e073"}
.icon-crop:before {
    content: "\e080"}
.icon-location-marker:before {
    content: "\e072"}
.icon-map:before {
    content: "\e071"}
.icon-direction:before {
    content: "\e070"}
.icon-share:before {
    content: "\e06a"}
.icon-send:before {
    content: "\e069"}
.icon-reply-all:before {
    content: "\e068"}
.icon-reply:before {
    content: "\e067"}
.icon-person:before {
    content: "\e066"}
.icon-group:before {
    content: "\e065"}
.icon-add-to-queue:before {
    content: "\e090"}
.icon-download:before {
    content: "\e091"}
.icon-fast-forward:before {
    content: "\e092"}
.icon-full-screen:before {
    content: "\e093"}
.icon-pin:before {
    content: "\e094"}
.icon-next:before {
    content: "\e095"}
.icon-pause:before {
    content: "\e096"}
.icon-pause-2:before {
    content: "\e097"}
.icon-play:before {
    content: "\e098"}
.icon-play-2:before {
    content: "\e099"}
.icon-previous:before {
    content: "\e09a"}
.icon-repeat:before {
    content: "\e09b"}
.icon-replay:before {
    content: "\e09c"}
.icon-return-from-full-screen:before {
    content: "\e09d"}
.icon-brightness-high:before {
    content: "\e0b9"}
.icon-brightness-auto:before {
    content: "\e0b8"}
.icon-bluetooth-searching:before {
    content: "\e0b7"}
.icon-bluetooth-connected:before {
    content: "\e0b6"}
.icon-bluetooth:before {
    content: "\e0b5"}
.icon-brightness:before {
    content: "\e0b4"}
.icon-battery:before {
    content: "\e0b3"}
.icon-add-alarm:before {
    content: "\e0b1"}
.icon-alarm:before {
    content: "\e0b2"}
.icon-key:before {
    content: "\e0b0"}
.icon-upload:before {
    content: "\e0a1"}
.icon-stop:before {
    content: "\e0a0"}
.icon-shuffle:before {
    content: "\e09f"}
.icon-rewind:before {
    content: "\e09e"}
.icon-brightness-medium:before {
    content: "\e0ba"}
.icon-call:before {
    content: "\e0bb"}
.icon-camera:before {
    content: "\e0bc"}
.icon-dashboard:before {
    content: "\e0bd"}
.icon-dial:before {
    content: "\e0be"}
.icon-hang-up:before {
    content: "\e0bf"}
.icon-power-auto:before {
    content: "\e0c0"}
.icon-power-none:before {
    content: "\e0c1"}
.icon-power:before {
    content: "\e0c2"}
.icon-location-target:before {
    content: "\e0c3"}
.icon-location-off:before {
    content: "\e0c4"}
.icon-location-searching:before {
    content: "\e0c5"}
.icon-microphone:before {
    content: "\e0c6"}
.icon-microphone-off:before {
    content: "\e0c7"}
.icon-clock:before {
    content: "\e0d5"}
.icon-camera-video-rotate:before {
    content: "\e0d4"}
.icon-camera-rotate:before {
    content: "\e0d3"}
.icon-storage:before {
    content: "\e0d2"}
.icon-locked:before {
    content: "\e0d1"}
.icon-storage-sd:before {
    content: "\e0d0"}
.icon-screen-lock-portrait:before {
    content: "\e0ce"}
.icon-screen-rotate:before {
    content: "\e0cf"}
.icon-screen-lock-landscape:before {
    content: "\e0cd"}
.icon-call-volume:before {
    content: "\e0cc"}
.icon-unlocked:before {
    content: "\e0cb"}
.icon-new-account:before {
    content: "\e0ca"}
.icon-signal:before {
    content: "\e0c9"}
.icon-signal-2:before {
    content: "\e0c8"}
.icon-usb:before {
    content: "\e0d6"}
.icon-mouse:before {
    content: "\e0f6"}
.icon-smartphone:before {
    content: "\e0f7"}
.icon-fries:before {
    content: "\e000"}
.icon-video:before {
    content: "\e0d7"}
.icon-volume-off:before {
    content: "\e0d8"}
.icon-volume-adjust:before {
    content: "\e0d9"}
.icon-airplane:before {
    content: "\e0e0"}
.icon-airplane-2:before {
    content: "\e0e1"}
.icon-alert:before {
    content: "\e0e2"}
.icon-alert-2:before {
    content: "\e0e3"}
.icon-laptop:before {
    content: "\e0f0"}
.icon-desktop:before {
    content: "\e0f1"}
.icon-joystick:before {
    content: "\e0f2"}
.icon-headphones:before {
    content: "\e0f3"}
.icon-headphones-mic:before {
    content: "\e0f4"}
.icon-keyboard:before {
    content: "\e0f5"}
.icon-up-button:before {
    content: "\e00a"}
.list {
    display: block;
    list-style: none;
}
.list>li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-top: 1px solid #424242;
    line-height: 38px;
    color: #fff;
}
.list>li.list-divider {
    border-top: 0;
    border-bottom: 2px solid #595959;
    line-height: 18px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 5px 3px;
    margin-top: 5px;
    color: #ccc;
}
.list>li.list-divider+li {
    border-top: 0;
}
.list>li>a {
    display: block;
    color: inherit;
}
.list>li.list-item-single-line, .list>li.list-item-two-lines h3, .list>li.list-item-two-lines p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list>li.list-item-single-line {
    height: 48px;
    font-size: 14px;
}
.list>li.list-item-two-lines {
    height: 64px;
}
.list>li.list-item-multi-line p {
    margin-bottom: 15px;
}
.list>li.list-item-two-lines h3, .list>li.list-item-multi-line h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    height: 32px;
    color: #fff;
}
.list>li.list-item-two-lines p, .list>li.list-item-multi-line p {
    font-size: 12px;
    line-height: 12px;
    text-overflow: ellipsis;
    color: #ccc;
}
.slider {
    width: 100%}
.slider>ul {
    list-style: none;
}
.slider>li {
    width: 100%}
.spinner {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    position: absolute;
    display: none;
    z-index: 0;
    padding: 0;
    list-style: none;
    line-height: 1.1em;
    background-color: #222;
    background-clip: border-box;
    opacity: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
    -webkit-transition: all ease-out .1s;
    -moz-transition: all ease-out .1s;
    transition: all ease-out .1s;
    -webkit-transform: scale(0.8, .8) translateY(-20px);
    -moz-transform: scale(0.8, .8) translateY(-20px);
    transform: scale(0.8, .8) translateY(-20px);
}
.spinner li {
    float: left;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid #313131;
    text-align: left;
}
.spinner li a {
    float: left;
    display: block;
    padding: 17px 15px 16px;
    white-space: nowrap;
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-weight: 400;
}
.spinner li:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.spinner li:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.spinner li:hover, .spinner li:active {
    background-color: rgba(51, 181, 229, .6);
}
.spinner.active {
    opacity: 1;
    z-index: 99;
    -webkit-transform: scale(1, 1) translateY(0);
    -moz-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
}
.action-bar .spinner {
    -webkit-transform-origin-x: 50%;
    -moz-transform-origin-x: 50%;
    transform-origin-x: 50%}
.action-bar.fixed-top .spinner {
    -webkit-transform-origin-y: 0;
    -moz-transform-origin-y: 0;
    transform-origin-y: 0;
}
.action-bar.fixed-top .spinner, .action-bar.fixed-top .spinner.active {
    top: 48px;
}
.action-bar.fixed-bottom .spinner {
    -webkit-transform-origin-y: 100%;
    -moz-transform-origin-y: 100%;
    transform-origin-y: 100%}
.action-bar.fixed-bottom .spinner, .action-bar.fixed-bottom .spinner.active {
    bottom: 48px;
}
.action-overflow .spinner {
    right: 10px;
}
.form-spinner {
    position: relative;
    margin-left: 10px;
    min-width: 100px;
}
.form-spinner .toggle-spinner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 14px 20px 6px 40px;
    height: 48px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    border-bottom: 1px solid #3c3c3c;
    vertical-align: middle;
    outline: 0;
}
.form-spinner .toggle-spinner:after {
    position: absolute;
    content: '';
    top: 36px;
    right: 0;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-top: 12px solid #595959;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}
.form-spinner .spinner {
    right: 0;
}
@-webkit-keyframes push {
    from {
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
}@-moz-keyframes push {
    from {
    opacity: 0;
    -moz-transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
}
}@keyframes push {
    from {
    opacity: 0;
    transform: scale3d(0.7, .7, 1);
}
to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
}@-webkit-keyframes pop {
    from {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    -webkit-transform: scale3d(0.7, .7, 1);
}
}@-moz-keyframes pop {
    from {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    -moz-transform: scale3d(0.7, .7, 1);
}
}@keyframes pop {
    from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}
to {
    opacity: 0;
    transform: scale3d(0.7, .7, 1);
}
}.page.fade {
    z-index: 0;
}
.page.push {
    -webkit-animation: push .3s;
    -moz-animation: push .3s;
    animation: push .3s;
    z-index: 1;
}
.page.pop {
    -webkit-animation: pop .3s;
    -moz-animation: pop .3s;
    animation: pop .3s;
}
.page.hidden {
    display: none;
}
.action-bar~[class*=tab-] {
    top: 48px;
}
.tab-fixed {
    position: absolute;
    top: initial;
    right: 0;
    bottom: initial;
    left: 0;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 6px rgba(0, 0, 0, .25);
    display: block;
    z-index: 1;
    height: 48px;
    background: #333;
    -webkit-backface-visibility: hidden;
}
.tab-fixed ul.tab-inner {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    width: 100%;
    list-style: none;
}
.tab-fixed ul.tab-inner li {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    whitespace: nowrap;
    overflow: hidden;
    text-align: center;
}
.tab-fixed ul.tab-inner li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    height: 48px;
    color: #fff;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 700;
    line-height: 52px;
}
.tab-fixed ul.tab-inner li a:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 24px;
    top: 13px;
    right: 0;
    background-color: #4d4d4d;
}
.tab-fixed ul.tab-inner li:last-child a {
    border-right-width: 0;
}
.tab-fixed ul.tab-inner li:active {
    background-color: rgba(51, 181, 229, .6);
}
.tab-fixed ul.tab-inner li.active a {
    border-bottom: 5px solid #33b5e5;
}
.tab-fixed ul.tab-inner li:last-child a:after, .tab-fixed ul.tab-inner li:active a:after {
    background-color: transparent;
}
[class|=tab] ul.tab-inner li a [class*=icon-], [class|=" tab"] ul.tab-inner li a [class*=icon-] {
    font-size: 28px;
    line-height: 48px;
}
.tab-slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.tab-slider .tab-item {
    position: absolute;
    display: none;
    width: 100%;
    top: 0;
    bottom: 0;
    -webkit-transition: -webkit-transform .1s ease-out;
    transition: transform .1s ease-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate(0, 0, 0);
}
.tab-slider .tab-item.active, .tab-slider .tab-item.in-transition {
    display: inline-block;
}
.toast {
    position: fixed;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: opacity .25s ease-in;
    -moz-transition: opacity .25s ease-in;
    transition: opacity .25s ease-in;
}
.toast.on {
    visibility: visible;
}
.toast.fade-in {
    opacity: 1;
}
.toast .toast-message {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 3px 16px 5px;
    margin: 0 auto;
    max-width: 80%;
    height: 36px;
    line-height: 32px;
    background-color: rgba(44, 44, 44, .9);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 0 10px rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 13px;
    text-align: center;
}